/* dark  #365033
   lighter #5D784C
   Brownish #B5998B
   Tan #F0E6DC
   Dark Gray #111312 */

   /* css reset */
*{
  box-sizing: border-box;
  margin: 0;
  
}

body {
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4{
  font-family: "Playfair Display", serif;

}

p, a, button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
/* Nav  */
/* Ensure the nav container uses flexbox and aligns items correctly */
nav.navbar {
  background-color: #5D784C;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  padding: 1rem;
  
}

/* Adjust navbar-collapse class */
#navbarSupportedContent {
  margin-left: 0; /* Remove margin if it affects spacing */
}

/* Navbar brand styling */
a.navbar-brand {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: white;
  text-decoration: none;
}

a.navbar-brand:hover {
  color: white;
}

/* Navbar links styling */
.navbar-nav {
  display: flex;
  justify-content: flex-end; /* Align links to the end of the navbar */
  margin-left: auto; 
  margin-right: 15px;
}
.navbar-nav a{
  text-decoration: none;
}

.navbar-brand, .nav-link {
  color: white;
  margin-left: 10px; /* Space between nav links */
}

.nav-link:hover {
  color: #365033;
}

/* Countdown  */

.countdown{
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
}
.countdownLeft, .countdownRight{
  flex: 1 1 auto;
}

.countdownLeft{
  align-items: end;
  background-image: url("images/kissDip.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 70%;
}

.countdownRight{
  align-items: center;
  background-color: #5D784C;
  
 
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  width: 30%;
  
}
#timer {
  background-color: #becbb5ce;
  box-sizing: border-box;
  color: #365033;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 3rem;
  width: 70%;
  word-wrap: break-word;
}

#timer div {
  margin: 0 10px;
}

#timer span {
  display: block;
  font-size: 1.2rem;
}

h1{
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  padding: 40px;
}

.rsvp{
  background-color: #becbb5ce;
  border: none;
  border-radius: 25px;
  color: #365033;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin-top: 20px;
  width: 100px;
}

.rsvp a{
  color: #365033;
  display: block;
  text-decoration: none;
}

.rsvp:hover{
  background-color: #365033;
  color: white;
}
.rsvp:hover a{
  color: white;
}

/* Details */

#info{
  align-items: center;
  background-color: #F0E6DC;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.infoLeft{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.infoRight{
  font-size: 1rem;
  line-height: 2;
  margin: auto;
  width: 50%;
}


.infoLeft h2{
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 10px;
}

.infoRight h2{
  margin-bottom: 3.5rem;
}

.infoRight p{
  margin-top: 30px;
}

.info h3{
  font-size: 1.4rem;
}

.infoRight p{
  width: 70%;
}

.italic{
  font-style: italic;
  font-size: 1.4rem;
}

/* Travel */

#travel{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  
}
.stay{
  margin-bottom: 2rem;
}
.fa-location-dot{
  margin-right: .5rem;
}
.travelLeft{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
  width: 50%;
}

.travelLeft > div {
  display: flex;
  line-height: 1.5;
  margin-bottom: 1rem;
  width: 90%;
}

.travelLeft h2{
  margin-bottom: 3rem;
}

.travelLeft h4{
  margin-bottom: 2rem;
}
.car{
  margin-right: 2rem;
}


.travelRight{
  width: 40%;
}

.travelRight img{
  width: 100%;
  height: 100%;
}

.carousel{
  height: auto;
  width: 100%;
}

.cards-wrapper{
  display: flex;
  justify-content: center;
  
}

.card-img-top{
  height: 175px;
}

.card-title{
  font-family: "Playfair Display", serif;
}

.card .btn{
  background-color: #5D784C;
  color: white;
  
  
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

p.stay{
  line-height: 2;
  margin-bottom: 3rem;
  width: 70%;
}

/* Registry */

.registry{
  background-color: #F0E6DC;
  display: flex;
}

.registryLeft{
  width: 60%;
}
.registryLeft img{
  height: 65vh;
  width: 100%;
}

.registryRight{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2;
  text-align: center;
}

.registryRight h2{
  margin-bottom: 4rem;
}
.gift{
  margin-bottom: 3rem;
  width: 70%;
}

.registryBtn{
  background-color: #5D784C;
  padding: 10px;
}

.registryBtn a{
  color: white;
  text-decoration: none;
}

.registryBtn:hover {
  background-color: #becbb5ce;
}
.registryBtn:hover a{
  color: #365033
}

/* Footer */

footer{
  align-items: center;
  background-color: #5D784C;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.footerLeft h3{
  margin-bottom: 1rem;
}

.email{
  font-weight: bold;
}

.middle img{
  height: 30vh;
  padding: 10px 0 0 0;
}

.footerRight {
  display: flex;
  flex-direction: column;
}

.footerRight a{
  color: white;
  margin-bottom: .75rem;
  text-decoration: none;
}


/* RESPONSIVENESS */

@media (max-width: 1100px){
  .countdownLeft{
    width: 60%;
  }
  .countdownLeft h1{
    font-size: 3.5rem;
  }
  .countdownRight{
    width: 40%;
  }
   div#timer span{
    font-size: 1.2rem;
  }
  .countdownRight div#timer{
    width: 80%;
  }
  #info{
    flex-direction: column;
  }
  .infoLeft{
    width: 80%;
  }
  .infoRight{
    text-align: center;
    width: 90%;
  }
  .infoRight h2{
    margin: 1rem;
  }
  .infoRight p{
    margin: 0 auto;
  }
  #travel{
    flex-direction: column;
  }
  .travelLeft{
    width: 95%;
  }
  .travelRight{
    width: 95%;
  }
 
  p.stay {
    width: 90%;
  }
  #carouselExampleControls {
    margin: 0 auto;
  }
  .travelRight{
    height: 500px;
    margin: 0 auto 3rem;
    width: 80%;
  }
  
  div.registryLeft{
    height: 27rem;
    width: 55%;
  }
  div.registryLeft img{
    height: 27rem;
  }
  .registryRight{
    line-height: 1.3;
    margin: auto;
    width: 40%;
  }
  .registryRight h2{
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 0;
  }
  .registryRight p{
    width: 100%;
  }
  .gift{
    margin-bottom: 1rem;
  }
  .registryBtn{
    margin-bottom: 1.5rem;
  }
  footer{
    overflow: hidden;
    padding: 20px 15px 0 15px;
  }
  .footerLeft{
    width: 33%;
  }
 
  .middle{
    height: 10rem;
    width: 33%;
  }
}

@media (max-width: 580px){
  /* .navbar{
    flex-wrap: nowrap;
  } */
  a.navbar-brand{
    font-size: 1.2rem;
  }
  .countdown{
    flex-direction: column;
  }
  .countdownLeft{
    align-items: start;
    justify-content: start;
    width: 100%;
  }
  .countdownLeft h1{
    font-size: 2.75rem;
    padding: 5px 0 0 10px;
  }
  div.countdownRight{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #timer {
  color: #365033;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 0rem;
  width: 30%;
}

#timer div {
  margin: 0 10px;
}

#timer span {
  display: block;
  font-size: 2rem;
}
.travelRight{
  height: 350px;
}

#registry{
  flex-direction: column;
  
}
div.registryLeft{
  overflow: hidden;
  height: 20rem;
  display: block;
  width: 100%;
}
.registryLeft img.hug{
  height: auto;
  margin: auto;
}
.registryRight{
  margin-bottom: 30px;
  width: 70%;
}

.footerLeft{
  font-size: .8rem;
}
.middle img{
  margin-bottom: 0;
}
.footerRight{
  text-align: right;
  font-size: .9rem;
  }
}


